* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
  min-height: 100vh;
  font: 400 16px/24px $fira-condensed;
}

body {
  display: flex;
  flex-flow: row nowrap;
}