.sidebar {
  flex: 0 0 200px;
  background-color: #EFEFEF;
  border-right: 1px solid #BBB;
  padding: 30px;
  h2 {
    margin-bottom: 30px;
  }
}

input {
  margin: 0 0 15px;
  border: 1px solid #DDD;
  padding: 5px 10px;
}

button {
  display: block;
  width: 100%;
  border: 1px solid #DDD;
  padding: 8px 12px;
  background-color: #007ec3;
  color: #FFF;
}

.divider {
  color: #DDD;
  border: 1px solid #BBB;
  margin: 20px 0;
}
